name: Static Analysis

on:
  push:
    branches:
      - "feature/**"
 
jobs:
  static-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go 1.21
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: Install Funcstat
        run: go install github.com/gostaticanalysis/funcstat/cmd/funcstat@latest

      - name: Run Funcstat
        run: funcstat ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run staticcheck
        run: staticcheck ./...

      - name: Install tennvet
        run: go install github.com/tenntenn/tennvet@latest

      - name: Run tennvet by go vet
        run: go vet -vettool=`which tennvet` ./...

